*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  width: 810px;
}

h1{
  text-align: center;
  margin: 20px;
}
h2{
  text-align: center;
  margin: 20px;
}
img{
  display: block;
  margin: auto;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
}

tr:hover {background-color: #f5f5f5;}

table{
  width: 820px;
}

th{
  text-align: left;
  height: 50px;
}
tbody>tr>:nth-child(1){
  width: 50px;
}
tbody>tr>:nth-child(2){
  width: auto;
}
tbody>tr>:nth-child(3){
  width: 260px;
  display: flex;
  justify-content: space-between;
}
thead>tr>:nth-child(3){
  width: 260px;

}

.btn{
  margin: 0px 2px;
  height: 30px;
  width: 70px;
  border-radius: 2px; 
  background-color: transparent;
  border: none;
  color: white;
}
.btn:hover{
  margin: -3px -1px;
  height: 36px;
  width: 76px
}

.btn-movies{
  background-color: #00AA66;
}
.btn-people{
  background-color: #17A2B8;
}
.btn-poster{
  background-color: #007BFF;
}
.btn-ratings{
  background-color: #6C757D;
}
